<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--药品目录-->
    <bean id="ypxxService" class="yycg.business.service.impl.YpxxServiceImpl"/>
    <!--药品信息导入处理-->
    <bean id="ypxxImportService" class="yycg.business.service.impl.YpxxImportServiceImpl"/>
    <!--供货商药品目录-->
    <bean id="ypmlService" class="yycg.business.service.impl.YpmlServiceImpl"/>
    <!--采购单-->
    <bean id="cgdService" class="yycg.business.service.impl.CgdServiceImpl"/>
    <!--交易明细查询-->
    <bean id="yybusinessService" class="yycg.business.service.impl.YybusinessServiceImpl"/>
</beans>